body{
    background-image: url(../multimedia/imagenes/imagen.png);
   background-repeat: no-repeat;
   background-color: #cccccc;
   background-position: center;

}

header {
   text-align: center;

}

section{  
    text-align: center;
    
}